.navbar {
    background-color: #121212;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    position: relative;
  }
  
  .logo-img {
    width: 40px;
    height: auto;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f0f0f0;
  }
  
  .nav-links {
    list-style-type: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ddd;
    font-size: 1rem;
    transition: transform 0.1s ease-in
  }
  
  .nav-link:hover {
    border: 10px;
    transform: scale(1.1);
  }
  